{% extends 'base.html' %}
{% block title %}Anasayfa{% endblock %}
{% block section %}Anasayfa{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>BEYKAM MUHASEBE PROGRAMI</h2>
        <p>Genel muhasebe durumunu buradan izleyebilirsiniz</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Üreticiler</h3>
                    <p>Toplam üretici miktarı: {{ total_personnal }}</p>
                    <p>Toplam üreticilere ödenen miktar: {{ total_personnal_price }} TL</p>
                    <p>Toplam üreticilere ödenenmesi gereken miktar: {{ total_personnal_remain_price }} TL</p>
                    <p>Toplam maliyet kesinti ücreti: {{ total_personnal_cut_price }} TL</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Kasa</h3>
                    <p>Giren Para: {{ total_enter_price }} TL</p>
                    <p>Çıkan Para: {{ total_exit_price }} TL</p>
                    <p>Aradaki Fark: {{ total_diff }} TL</p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Üretim Miktarları</h3>
                    <p>Toplam şablon miktarı: {{ total_category }}</p>
                    <p>Toplam üretim miktarı: {{ total_product }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Satınalma</h3>
                    <p>Toplam satınalma kaydı: {{ total_inventory }}</p>
                    <p>Toplamda satınalma fiyatı: {{ total_inventory_price }} TL</p>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Üretilen Üretimler</h3>
                    <p>Toplam üretilen üretim miktarı: {{ total_purchase }}</p>
                    <p>Toplam üretilen üretim fiyatı: {{ total_purchase_price }} TL</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Satılan Üretimler</h3>
                    <p>Toplam satılan üretim miktarı: {{ total_sales }}</p>
                    <p>Toplam satılan üretim fiyatı: {{ total_sales_price }} TL</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}