{% extends 'base.html' %}
{% block title %}Anasayfa{% endblock %}
{% block section %}Anasayfa{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>BEYKAM MUHASEBE PROGRAMI</h2>
        <p>Aşağıdaki menülerden işlemler yapabilirsiniz.</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Üreticiler</h3>
                    <p>Toplamda 4 adet üretici bulunmaktadır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Üretici Ekle <span
                                    class="badge">4</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Şablonlar</h3>
                    <p>Toplamda 12 adet üretim şablonu vardır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Üretim Şablonu Ekle <span
                                    class="badge">12</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Üretimler</h3>
                    <p>Toplamda 41 adet üretim vardır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Üretim Ekle <span
                                    class="badge">41</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Alım Kaydı</h3>
                    <p>Toplamda 124 adet alım vardır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Alım Kaydı Ekle <span
                                    class="badge">124</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Satış Kaydı</h3>
                    <p>Toplamda 94 adet satış vardır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Satış Kaydı Ekle <span
                                    class="badge">94</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Envanter</h3>
                    <p>Toplam 212 maliyet kaydı vardır.</p>
                    <p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Kayıt Alanları">

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Maliyet Kaydı Ekle <span
                                    class="badge">212</span></button>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}