{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block title %}{{ personnel.fullname }} - Üretici Detayları{% endblock %}
{% block section %}{{ personnel.fullname }} - Üretici Detayları{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Üreticiyi Kaydet</button>
                    <a href="{% url 'personnel_del' personnel.id %}"><button type="button" class="btn btn-danger">Üreticiyi Sil</button></a>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-sm-6 col-md-4">
                <strong>Fotoğraf:</strong><br>
                <img src="{% if personnel.photo %}{{ personnel.photo.url }}{% else %}{% static 'img/user-none.png' %}{% endif %}" alt="" class="img-rounded img-responsive"/>
            </div>
        </div>

    </div>
{% endblock %}