{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% block title %}{{ personnel.fullname }} - Üretici Detayları{% endblock %}
{% block section %}{{ personnel.fullname }} - Üretici Detayları{% endblock %}
{% block content %}
    <div class="row">
        <legend>Üretici Kasa Hesabı</legend>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Üretici Kodu</th>
                    <th>Üretilen Topam</th>
                    <th>Satılan Toplam</th>
                    <th>Kalan Toplam</th>
                    <th>Üretilen Toplam Ücret</th>
                    <th>Satılan Toplam Ücret</th>
                    <th>Kalan Toplam Ücret</th>
                    <th>Maliyet Kesinti Oranı</th>
                    <th>Toplam Maliyet Kesinti Ücreti</th>
                    <th>Ödenen Ücret</th>
                    <th>Ödenecek Ücret</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ personnel.id|stringformat:".4d" }}</td>
                    <td>{{ total_purchases }}</td>
                    <td>{{ total_sales }}</td>
                    <td>{{ total_remain }}</td>
                    <td>{{ total_purchases_price }} TL</td>
                    <td>{{ total_sales_price }} TL</td>
                    <td>{{ total_remain_price }} TL</td>
                    <td>%{{ personnel.cut }}</td>
                    <td>{{ total_cut }} TL</td>
                    <td>{{ personnel.paid_price }} TL</td>
                    <td>{{ total_remain_paid_price }} TL</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <legend>Üreticiyi Düzenle</legend>
        <div class="col-lg-6 col-md-6">
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Üreticiyi Kaydet</button>
                    <a href="{% url 'personnel_del' personnel.id %}">
                        <button type="button" class="btn btn-danger" onclick="clicked(event)">Üreticiyi Sil</button>
                    </a>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-sm-6 col-md-4">
                <strong>Fotoğraf:</strong><br>
                <img src="

                        {% if personnel.photo %}{{ personnel.photo.url }}{% else %}{% static 'img/user-none.png' %}{% endif %}"
                     alt="" class="img-rounded img-responsive"/>
            </div>
        </div>

    </div>
{% endblock %}